/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Roboto+Slab:wght@300;800&display=swap');

$red:#cd0401;
$yellow:#f7cc00;
$green:#036102;

$primary-color: $yellow;
$font-color:#396088;//#ffffff
//font families
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Poppins', sans-serif;
//font weights
$regular:300;
$bold:600;
$display:900;
.bg-primary{
  background-color:$primary-color!important;
}
body{
  font-family: $secondary-font;
  font-weight: 300;
  color: $font-color;
  background: lighten($primary-color,40);
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  app-root{
    min-height: 100vh;
  }
  .navbar-brand{
    font-family: $primary-font;
    letter-spacing: .025em;
    font-weight: 300;
  }

  > *{
    position: relative;
    z-index: 1;
  }
  .btn{
    font-weight: 600;
    font-family: $primary-font;
    &.btn-outline-primary {
      color: $primary-color;
      border-color: lighten($primary-color,50);
      &:hover{
        color: #fff;
        background-color: lighten($primary-color,50);
        border-color: lighten($primary-color,50);
      }
    }
    &.btn-primary {
      color: $primary-color;
      background-color: lighten($primary-color,50);
      border-color: lighten($primary-color,50);

      &:hover {
        color: #ffffff;
        background-color: darken($primary-color, 10);
        border-color: darken($primary-color, 10);
      }
    }
  }
  h1, h2, h3, h4, h5, h6{
    font-weight:300;
    font-family: $primary-font;

  }
  .display {
    font-weight: 900;
  }
}
app-home {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.nav-link{
  color:$primary-color;
}


.logo-wrapper {
  height: 80px;
  width: auto;
  padding: 0;
   img {
    width: auto;
    max-height: 80px;
  }
}
tabset{
  .tab-content {
    padding: 16px;
}
  .nav-tabs {
    border-bottom: 0px solid transparent;
  }
  .nav-item{

    .nav-link{
      color: darken($primary-color, 10);
    }
    &.active .nav-link,&:hover .nav-link{
      color: darken($primary-color, 20);
      background-color: transparent;
      border-color: transparent transparent darken($primary-color, 20);
    }
  }
}
app-card {
  .warning{
    position: absolute;
    top: 25px;
    opacity: 0;
    button + button {
      margin-left: 16px;
    }
    .btn-link{
      font-weight: 300;
      color: #cd0401;
    }
  }
  &:hover .warning{
    opacity: 1;
  }
}
.modal-dialog {
  transform: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-content {
  min-height: 50vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
