@import "../../../styles.scss";

.navbar-nav {
  flex: auto;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
.dropdown-toggle {
  //color: white;
}
a, button {
  font-weight: 300;
  line-height: 1.5;
  &.nav-link{
    //color: $font-color; //lighten($primary-color,50)
    color: darken($primary-color, 10);
    font-weight: 600;
    font-size: .9rem;
  }
  &.navbar-brand{
    font-weight: 300;
    color: #333;
    .brand{
      max-width: 150px;
    }
  }
}
.navbar{
  //background-color: #0a1a25 !important;//0a3c36
  z-index: 1;
  .container-fluid{
    align-items: baseline;
  }
}

.dropdown-menu {
  border-radius: 4px 0 0 4px;
  right: 0px;
  left: auto;
  .dropdown-item {
    padding-left: 4px;
   + .dropdown-item{
      border-top: 1px dotted #0b1b262e;
    }
  }
}

