@import "../../../styles.scss";

.quick-profile{
  color: lighten($primary-color, 40);
    border: none;
    background: darken($primary-color, 20);
  strong{
    font-weight: 600;
    color: lighten($primary-color, 30);
  }
}
.img-thumbnail{
  margin: 16px auto;
  width: 85%;
  height: 85%;
  border: none;
}
.card-body{
  padding:0 16px;
}

.card-footer{
  padding: 8px 16px;
  background-color: white;
  border-top: none;
}

